@{
    ViewBag.Title = "Form Wizard";
    ViewBag.pTitle = "Form Wizard";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/_Shared/Layouts/_layout_horizontal.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Genel Ayarlar</h4>

                <div id="basic-example">
                    <!-- Seller Details -->
                    <h3>Logo</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-firstname-input">Header Logo</label>
                                        <input type="file" class="form-control" id="basicpill-firstname-input">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-lastname-input">Footer Logo</label>
                                        <input type="file" class="form-control" id="basicpill-lastname-input">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Client Area Logo</label>
                                        <input type="file" class="form-control" id="basicpill-phoneno-input">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input">Favicon</label>
                                        <input type="file" class="form-control" id="basicpill-email-input">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>

                    <h3>Anasayfa</h3>
                    <section>
                        <form>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Özellikler</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Hakkımızda</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Öne Çıkan Yazılımlar</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Müşteri Yorumları</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Haber & Duyurular</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Rakamlarla Biz</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">SMS Paketleri</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Sunucu Paketleri</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Google SEO Hizmetleri</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Toplusms</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">WISECP Lisansları</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>

                    <!-- Bank Details -->
                    <h3>Gelişmiş</h3>
                    <section>
                        <form>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Only Client Panel</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Müşteri Paneli Ürün Listeleme</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Bakım Modu</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Sayfa Detay Sidebar</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Haber Detay Sidebar</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Yazı Detay Sidebar</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Bilgi Bankası Detay Sidebar</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>


<!-- jquery step -->
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

<!-- form wizard init -->
<script src="~/assets/js/pages/form-wizard.init.js"></script>

<script src="~/assets/js/app.js"></script>



