@{
    ViewBag.Title = "Form Wizard";
    ViewBag.pTitle = "Form Wizard";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/_Shared/Layouts/_layout_horizontal.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Genel Ayarlar</h4>

                <div id="basic-example">
                    <!-- Seller Details -->
                    <h3>Bilgiler</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-firstname-input">Firma Bilgileri</label>
                                        <input type="text" class="form-control" id="basicpill-firstname-input" placeholder="Firma Bilgileri">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-lastname-input">Adres Bilgileri</label>
                                        <input type="text" class="form-control" id="basicpill-lastname-input" placeholder="Adresi Bilgileri">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">E-Posta Adresleri</label>
                                        <input type="text" class="form-control" id="basicpill-phoneno-input" placeholder="E Posta Adresleri">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input">Telefon Numaraları</label>
                                        <input type="email" class="form-control" id="basicpill-email-input" placeholder="Telefon Numaraları">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">İletişim Formu</label>
                                        <input type="text" class="form-control" id="basicpill-phoneno-input" placeholder="İletişim Formu">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input">Google Maps Harita Gösterimi</label>
                                        <input type="email" class="form-control" id="basicpill-email-input" placeholder="Google Maps Harita Gösterimi">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Google Maps</label>
                                        <input type="text" class="form-control" id="basicpill-phoneno-input" placeholder="Google Maps">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input">Google API Key</label>
                                        <input type="email" class="form-control" id="basicpill-email-input" placeholder="Google API Key">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Analytics Kodu</label>
                                        <input type="text" class="form-control" id="basicpill-phoneno-input" placeholder="Analytics Kodu">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input">Canlı Destek Kodu</label>
                                        <input type="email" class="form-control" id="basicpill-email-input" placeholder="Canlı Destek Kodu">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Webmaster Tools Etiketi</label>
                                        <input type="text" class="form-control" id="basicpill-phoneno-input" placeholder="Webmaster Tools Etiketi">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-email-input">Harici embed Kodu</label>
                                        <input type="email" class="form-control" id="basicpill-email-input" placeholder="Harici embed Kodu">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-6">
                                        <label for="basicpill-phoneno-input">Sosyal Bağlantılar</label>
                                        <input type="text" class="form-control" id="basicpill-phoneno-input" placeholder="Sosyal Bağlantılar">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </section>

                    <!-- Company Document -->
                    <h3>SEO</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-pancard-input">Seo Başlık</label>
                                        <input type="text" class="form-control" id="basicpill-pancard-input" placeholder="Seo Başlık">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-vatno-input">Alt Sayfa Başlık Yerleşimi</label>
                                        <input type="text" class="form-control" id="basicpill-vatno-input" placeholder="Alt Sayfa Başlık Yerleşimi">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-cstno-input">Seo Anahtar Kelimeler</label>
                                        <input type="text" class="form-control" id="basicpill-cstno-input" placeholder="Seo Anahtar Kelimeler">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-servicetax-input">Seo Açıklama</label>
                                        <input type="text" class="form-control" id="basicpill-servicetax-input" placeholder="Seo Açıklama">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Seo Dostu URL</label>
                                        <input type="text" class="form-control" id="basicpill-companyuin-input" placeholder="Seo Dostu URL">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-declaration-input">Sitemap URL</label>
                                        <input type="text" class="form-control" id="basicpill-Declaration-input" placeholder="Sitemap URL">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">URL Yapıları</label>
                                        <input type="text" class="form-control" id="basicpill-companyuin-input" placeholder="URL Yapıları">
                                    </div>
                                </div>


                            </div>
                        </form>
                    </section>

                    <h3>Yerelleştirme</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Site Açılış Dili</label>
                                        <select class="form-control select2">
                                            <option>Otomatik Algıla</option>
                                            <option value="AK">Turkish(TR)</option>
                                            <option value="HI">English(EN)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Yerel Dil</label>
                                        <select class="form-control select2">
                                            <option selected value="AK">Turkish(TR)</option>
                                            <option value="HI">English(EN)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Yerel Para Dilimi</label>
                                        <select class="form-control select2">
                                            <option selected value="AK">Türk Lirası(TRY)</option>
                                            <option value="HI">US Dollar(USD)</option>
                                            <option value="HI">EURO(EUR)</option>
                                            <option value="HI">British Pound(GBP)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Varsayılan Ülke</label>
                                        <select class="form-control select2">
                                            <option selected value="AK">Türkiye(TR)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Saat Dilimi</label>
                                        <select class="form-control select2">
                                            <option selected value="AK">(UTC+03:00) Europe/Istanbul</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">IP Lokasyon Modülü</label>
                                        <select class="form-control select2">
                                            <option selected value="AK">WiseIP</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>

                    <h3>Üyelik</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-pancard-input">Üyelik için Alışveriş Zorunluluğu</label>
                                        <div>
                                            <input type="checkbox" id="switch1" switch="none" checked />
                                            <label for="switch1" data-on-label="Evet" data-off-label="Hayır"></label>
                                        </div>
                                        <div>
                                            <h7>Etkinleştirilirse, satın alma işlemi yapılmadan hesap oluşturulamaz</h7>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-vatno-input">Hesap Oluşturma ve Giriş</label>
                                    </div>
                                    <div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Üye Girişlerini Aktif Et
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Hesap Oluşturmayı Aktif Et
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-pancard-input">Ad/Soyad Düzenlenebilsin</label>
                                        <div>
                                            <input type="checkbox" id="switch2" switch="none" checked />
                                            <label for="switch2" data-on-label="Evet" data-off-label="Hayır"></label>
                                        </div>
                                        <div>
                                            <h7>Müşterilerin ad ve soyad bilgilerini değiştirmesine izin verin</h7>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-pancard-input">Ad/Soyad Biçimlendirme</label>
                                        <div>
                                            <input type="checkbox" id="switch3" switch="none" checked />
                                            <label for="switch3" data-on-label="Evet" data-off-label="Hayır"></label>
                                        </div>
                                        <div>
                                            <h7>Hesap oluşturulurken ad ve soyad bilgisini "Baş Harfler Büyük" olacak şekilde biçimlendir</h7>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-pancard-input">Ad/Soyad Biçimlendirme</label>
                                        <br></br>
                                        <div>
                                            <div class="form-check form-check-primary mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                       checked>
                                                <label class="form-check-label" for="formCheckcolor1">
                                                    GSM No Gösterimini Aktif Et
                                                </label>
                                            </div>
                                            <div class="form-check form-check-primary mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                       checked>
                                                <label class="form-check-label" for="formCheckcolor1">
                                                    GSM No Doğrulamayı Aktif Et
                                                </label>
                                            </div>
                                            <div class="form-check form-check-primary mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                       checked>
                                                <label class="form-check-label" for="formCheckcolor1">
                                                    GSM No Zorunluluğu Aktif Et
                                                </label>
                                            </div>
                                            <div class="form-check form-check-primary mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                       checked>
                                                <label class="form-check-label" for="formCheckcolor1">
                                                    GSM No Düzenlenebilsin
                                                </label>
                                            </div>
                                            <div class="form-check form-check-primary mb-3">
                                                <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                       checked>
                                                <label class="form-check-label" for="formCheckcolor1">
                                                    GSM No Benzersizlik Aktif Et
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <div class="mb-3">
                                            <label for="basicpill-pancard-input">Sabit Telefon Ayarları</label>
                                            <br></br>
                                            <div>
                                                <div class="form-check form-check-primary mb-3">
                                                    <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                           checked>
                                                    <label class="form-check-label" for="formCheckcolor1">
                                                        Sabit Telefon Gösterimi Aktif Et
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-primary mb-3">
                                                    <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                           checked>
                                                    <label class="form-check-label" for="formCheckcolor1">
                                                        Sabit Telefon Zorunluluğu Aktif Et
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-primary mb-3">
                                                    <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                           checked>
                                                    <label class="form-check-label" for="formCheckcolor1">
                                                        Sabit Telefon Benzersizlik Kontrolü Aktif Et
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-primary mb-3">
                                                    <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                           checked>
                                                    <label class="form-check-label" for="formCheckcolor1">
                                                        Sabit Telefon Düzenlenebilsin
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Güvenlik Sorusu Ayarları</label>
                                        <br></br>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Güvenlik Sorusunu Aktif Et
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Güvenlik Sorusu Zorunluluğunu Aktif Et
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-declaration-input">T.C No Ayarları</label>
                                        <br></br>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                T.C Kimlik No Gösterimini Aktif Et
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                T.C Kimlik No Zorunluluğunu Aktif Et
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                T.C Kimlik No Doğruluk Kontrolü Aktif Et
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                T.C Kimlik No Düzenlenebilsin
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Doğum Tarihi Ayarları</label>
                                        <br></br>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Doğum Tarihi Gösterimini Aktif Et
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Doğum Tarihi Zorunluluğunu Aktif Et
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                +18 Yaş Kontrolünü Aktif Et
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Doğum Tarihi Düzenlenebilsin
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-declaration-input">Hesap Türü Ayarları</label>
                                        <br></br>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Hesap Türü Gösterimi
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Hesap Türü DÜzenlenebilsin
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row mt-5">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-companyuin-input">Vergi Dairesi</label>
                                        <br></br>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Müşteri Panelinde Görünsün
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                    Zorunlu Alan Olarak Belirle
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-declaration-input">Vergi Numarası</label>
                                        <br></br>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                Müşteri Panelinde Görünsün
                                            </label>
                                        </div>
                                        <div class="form-check form-check-primary mb-3">
                                            <input class="form-check-input" type="checkbox" id="formCheckcolor1"
                                                   checked>
                                            <label class="form-check-label" for="formCheckcolor1">
                                                    Zorunlu Alan Olarak Belirle
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>

                    <!-- Bank Details -->
                    <h3>Gelişmiş</h3>
                    <section>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <label for="basicpill-firstname-input">Ürün Grubu Aktivasyonu</label>
                                    </div>
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <p>
                                            Sistemde standart olarak gelen ürün gruplarını isteğe bağlı olarak aktif veya pasif edebilirsiniz.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <label class="form-check-label" for="SwitchCheckSizelg">Web Hosting</label>
                                    </div>
                                     <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <label class="form-check-label" for="SwitchCheckSizelg">Sunucu</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <label class="form-check-label" for="SwitchCheckSizelg">Alan Adı</label>
                                    </div>
                                     <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <label class="form-check-label" for="SwitchCheckSizelg">Yazılım</label>
                                    </div>
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <label class="form-check-label" for="SwitchCheckSizelg">SMS Paketleri</label>
                                    </div>
                                     <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <label class="form-check-label" for="SwitchCheckSizelg">Uluslararası SMS Hizmetleri</label>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Kolay Sipariş</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Müşteriler sipariş sürecinden ayrılmadan kolaylıkla satın alma işlemini tamamlar. (Hesap doğrulama gerekiyorsa daha sonra yapılır)</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Hizmet Yenileme Süresi Metodu</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                         <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="formRadios"
                                                   id="formRadios1" checked>
                                            <label class="form-check-label" for="formRadios1">
                                                Son Ödeme Tarihini Dikkate Al
                                            </label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="radio" name="formRadios"
                                                   id="formRadios1" checked>
                                            <label class="form-check-label" for="formRadios1">
                                                Ödeme Yapılan Tarihi Dikkate Al
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Müşteriler Arası Hizmet Transferi</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Müşteriler kendi aralarında hizmet transferi yapabilirler. (E-Posta onayı gerektirir.)</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Çerez Uyarısı</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Sitenizde çerez uyarısı göstermek istiyorsanız aktif ediniz.</p>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Sayfa</label>
                                        <select class="form-control select2">
                                            <option selected value="AK">Sayfa Seç</option>
                                            <option value="HI">Çerez Politikası</option>
                                            <option value="HI">Cookie Policy</option>
                                            <option value="HI">Hakkımızda</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Otomatik HTTPS</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>https:// kullanımını zorunlu tutmak için aktif ediniz.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Otomatik WWW</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Adres satırına otomatik olarak www tanımlar.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Destek Sistemi</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Müşterilerinize destek sistemi üzerinden destek vermek isterseniz aktif ediniz.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Destek Talebi Engeli</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Müşteri hesabı doğrulanmadan destek bileti oluşturulamaz.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Destek Bileti Üstlenme</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Birden fazla personelin aynı anda destek biletlerine yanıt vermesini önleyin.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Bilgi Bankası</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Bilgi bankası üzerinden makale yayınlamak isterseniz aktif ediniz.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Sesli Bildirim</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Gelen bildirimler için sesli uyarı alın.</p>
                                    </div>
                                    <div class="mb-3">
                                        <label for="basicpill-cstno-input">MP3</label>
                                        <input type="file" class="form-control" id="basicpill-cstno-input" placeholder="Seo Anahtar Kelimeler">
                                    </div>
                                    <div class="mb-3">
                                        <label for="basicpill-cstno-input">OGG</label>
                                        <input type="file" class="form-control" id="basicpill-cstno-input" placeholder="Seo Anahtar Kelimeler">
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Fatura Numara Formatı</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-cstno-input">Fatura numarasına ön ek veya arka ek tanımlayabilirsiniz.</label>
                                        <input type="text" class="form-control" id="basicpill-cstno-input" placeholder="{NUMBER}">
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Faturalar Giriş Yapmadan Göster</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Müşteriler faturalarına giriş yapmadan da erişebilir ve bir başkası ile paylaşabilir.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Fatura Kalemi Sil</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Aktif hale getirmeniz durumunda, sipariş iptal edildiğinde veya silindiğinde, siparişe bağlı faturadaki kalem silinecektir.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Fatura Tutarını Otomatik Güncelle</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Fatura tutarları ürünün güncel tutarı üzerinden otomatik olarak işlenir. (Geçmişte oluşan faturalar ürünün güncel tutarı ile güncellenir.)</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Sepet Sistemi</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Sepet sistemi kullanımı için aktif ediniz.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Ziyaretçiler için Sepet Aktivasyonu</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Kayıtlı olmayan ziyaretçiler de sipariş ve sepet aşamalarını görür. Son aşamada giriş yapılması istenir.</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Ziyaretçiler için Sepet Aktivasyonu</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Tutar Sıfırlarını Temizle</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Kupon/Promosyon</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check form-switch form-switch-lg mb-3" dir="ltr">
                                        <input class="form-check-input" type="checkbox" id="SwitchCheckSizelg" checked>
                                        <p>Tüm ürün ve hizmetlerde kupon kodu kullanımını aktif et. (Sepette kupon kodu kutucuğu gösterilir.)</p>
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <label for="basicpill-firstname-input">ID NO Başlangıcı</label>
                                    </div>
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <p>
                                            Sonraki ID numaralarının hangi sayıdan devam edeceğini belirleyebilirsiniz.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="basicpill-cstno-input" placeholder="Müşteri Başlangıcı">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="basicpill-cstno-input" placeholder="Sipariş Başlangıcı">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="basicpill-cstno-input" placeholder="Fatura Başlangıcı">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="basicpill-cstno-input" placeholder="Bilet Başlangıcı">
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <label for="basicpill-firstname-input">Sayfalama (Pagenate) Uzunluğu</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Listelemelerin altında bulunan numaraların max. uzunluğu. Örn: 1-2-3-4-5 veya 1-2-3-4-5-6-7-8 gibi.</label>
                                        <input type="text" class="form-control" id="basicpill-cstno-input" placeholder="Müşteri Başlangıcı">
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <label for="basicpill-firstname-input">Yazılım Listeleme Limiti</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="basicpill-cstno-input" >
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <label for="basicpill-firstname-input">Müşteri Paneli Haberler Liste Limit</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input">Müşteri paneli anasayfasında görünecek haberlerin, kaç adette bir listeleneceği.</label>
                                        <input type="text" class="form-control" id="basicpill-cstno-input" >
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <label for="basicpill-firstname-input">Müşteri Paneli Aktivite Listesi Limiti</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <label for="basicpill-phoneno-input"> Müşteri paneli işlem geçmişinde görünen bilgilerin, kaç adette bir listeneceği.</label>
                                        <input type="text" class="form-control" id="basicpill-cstno-input" >
                                    </div>
                                </div>
                            </div>
                            <hr></hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3 center" style="display: inline-block; text-align: left;">
                                        <label for="basicpill-firstname-input">Erişebilirlik Modu</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="mb-3">
                                        <input class="form-check-input" type="checkbox" id="formCheck2" checked>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>

            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>


<!-- jquery step -->
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

<!-- form wizard init -->
<script src="~/assets/js/pages/form-wizard.init.js"></script>

<script src="~/assets/js/app.js"></script>


