@{
    ViewBag.Title = "Horizontal Layout";
    ViewBag.pTitle = "Horizontal Layout";
    ViewBag.pageTitle = "Horizontal";
    Layout = "~/Views/_Shared/Layouts/_layout_horizontal.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-2">
                <div class="mb-3">
                    <select class="form-control select2">
                        <option>Seçilenlere Uygula</option>
                        <option value="AK">Onayla</option>
                        <option value="HI">Aktif Et</option>
                        <option value="HI">Okundu İşaretle</option>
                        <option value="HI">İptal Et</option>
                        <option value="HI">Askıya Al</option>
                        <option value="HI">Sil</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                </div>
            </div>
            <div class="col-lg-2">
                
            </div>
            <div class="col-lg-2">
                
            </div>
            <div class="col-lg-2">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Ara"></input>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Tümü</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Kritik İşlem Bildirimleri</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent" style="background-color:white;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="card-body">
                        <table class="table table-bordered dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Müşteri</th>
                                    <th>Sipariş</th>
                                    <th>Eklenti Bilgisi</th>
                                    <th>Başlangıç/Bitiş</th>
                                    <th>Tutar</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="card-body">
                        <table class="table table-bordered dt-responsive nowrap w-100">
                            <thead>
                                <tr>
                                    <th>Müşteri</th>
                                    <th>Sipariş</th>
                                    <th>Eklenti Bilgisi</th>
                                    <th>Başlangıç/Bitiş</th>
                                    <th>Tutar</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div> <!-- end col -->
      </div>
    </div>

    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>


    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>

    <script src="~/assets/js/app.js"></script>

